{{template "header"}}

<main class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Inicio</a></li>
          <li class="breadcrumb-item"><a href="/recursos">About</a></li>
          <li class="breadcrumb-item active" aria-current="page">PDF</li>
        </ol>
    </nav>
    <nav>
        <h1>Generación PDF</h1>
        <a href="/recursos/pdf_create" class="btn btn-danger"><i class="fas fa-file-pdf"></i> Crear</a>
    </nav>
    <img src="/public/img/go-1.png" alt="" />
</main>

{{template "footer"}}



