{{template "header"}}

<main class="container">
    <h1>Utilidades</h1>
    <ul>
        <li>
            <a href ="/recursos/pdf">PDF</a>
        </li>
    </ul>
    <ul>
        <li>
            <a href ="/recursos/xls">Excell</a>
        </li>
    </ul>
    <ul>
        <li>
            <a href ="/recursos/qr">QR</a>
        </li>
    </ul>
    <ul>
        <li>
            <a href ="/recursos/email">Email</a>
        </li>
    </ul>
    <img src="/public/img/go-1.png" alt="" />
</main>

{{template "footer"}}