<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sobre Nosotros</title>
    <link rel="stylesheet" href="/public/css/styles.css" />
</head>
<body>
    <h1>Acerca de Nosotros</h1>
    <p>Este es un ejemplo de una página "About" en nuestra aplicación web.</p>

    <a href="/">Volver a la página principal</a>

    <script src="public/js/script.js"></script>
</body>
</html>
